[gerrit]
  basePath = git
  serverId = 0b5ed293-a0ba-47e2-9460-7cbe0bda5314
  canonicalWebUrl = http://localhost

[database]
  type = h2
  database = db/ReviewDB

[index]
  type = LUCENE

[auth]
#  type = DEVELOPMENT_BECOME_ANY_ACCOUNT
  type = ldap
#  gitBasicAuth = true

[ldap]
  server = ldap://ldap
  username=cn=admin,dc=example,dc=org
  accountBase = dc=example,dc=org
  accountPattern = (&(objectClass=person)(uid=${username}))
  accountFullName = displayName
  accountEmailAddress = mail
  # Can move this to secret and /external/gerrit/etc/secure.config
  password = admin

[sendemail]
  smtpServer = localhost

[sshd]
  listenAddress = *:29418

[httpd]
  listenUrl = http://*:8080/

[cache]
  directory = cache

[plugins]
  allowRemoteAdmin = true
[container]
  user = gerrit
  javaOptions = -Djava.security.egd=file:/dev/./urandom
